<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Mario's Web Journal</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href=".css"/>
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
		<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
			
	</head>

	<body>
		<div id="MainContainer" class="container">
			<div id="header" class="span-24 last">
				<div id="logo" class="span-10 first prepend-2">
					<%= link_to (image_tag("allisson-y-yo.png"), posts_path) %>
				</div>
				<div id="SiteTitle" class="span-12 last" 
					<h1>Mario's Programming Journal</h1>					
					<%= link_to "Home", "#" %> |
					<%= link_to "Blog", "#" %> |
					<%= link_to "Projects", "#" %>
				</div>				
			</div>
			<div id="content" class="span-24 last">
				<%= yield %>
			</div>
			<div id="footer" class="span-24 last">
				<h1>footer</h1>
			</div>
		</div>
	</body>
</html>